 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #f5f7fa;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 5px;
      margin: 30px 150px 120px;
    }
    .logo {
      font-size: 24px;
      font-weight: bold;
      color: #f3701a;
    }
    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #333;
      font-weight: 500;
      font-size: 30px;
    }
    .bold {
        font-weight: bold;
    }
    nav a:hover {
      color: #f3701a;
    }



    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 120px 150px ;
    }
    .banner-text {
      width: 600px;
      height: 300px;    
    }
    .banner-text h1 {
      font-size: 65px;
      font-weight: bold;
    }
    .banner-text h1 span {
      color: #E95A08;
    }
    .banner-text p {
      color: #666;
      line-height: 1.6;
      font-size: 15px;
    }
    .banner img {
      width: 600px;
      height: auto;
    }



    .section-title {
      text-align: center;
      margin: 40px 0 20px;
      font-size: 50px;
      font-weight: bold;
    }
    .section-title span {
      color: #E95A08;
    }
    .section-subtitle {
      text-align: center;
      max-width: 900px;
      height: 60px;
      margin: 0 auto 50px;
      padding-bottom: 50;
      color: #555;
      font-size: 25px;
      
    }
    .description {
        max-width: 1200px;
        text-align: center;
        margin: auto;
    }
    .products {
      display: grid;
      justify-content: center;
      gap: 20px;
      padding: 0 50px 50px;
      grid-template-columns: repeat(4, 1fr);
    }
    .product-card {
      background-color: white;
      width: 300px;
      height: 500px;
      padding: 15px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      text-align: center;
      border-radius: 6px;
    }
    .product-card img {
      width: 100%;
      height: auto;
    }
    .product-card h4 {
      margin: 10px 0 5px;
    }
    .product-card p {
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
    }
    .product-card button {
      background-color: #f3701a;
      color: white;
      border: none;
      padding: 10px;
      width: 100%;
      cursor: pointer;
    }
    .product-card button:hover {
      background-color: #d85f0e;
    }



    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 200px 150px 130px;
    }
    .featured h2 {
      font-size: 50px;
      font-weight: bold;
      color: #333;
      margin-left: 10px;
    }
    .featured ul {
      padding-left: 20px;
      color: #555;
      font-size: 25px;  
      margin-left: 10px;
    }
    .featured ul li {
        line-height: 1;
        margin-bottom: 10px;
        padding: 20px;
    }
    .image-container {
        position: relative;
        width: 600px;
    }
    .image-container img:first-child {
        width: 80%;
        border-radius: 10px;
    }
    .plant-content {
      max-width: 600px;
      height: auto;
    }
    .overlay-image {
        position: absolute;
        top: -120px;
        right: -10px;
        width: 300px; 
        height: auto;
        border-radius: 50%;
    }



    .latest-deals {
      margin: 100px 120px;
    }
    .latest-deals h2 {
      text-align: center;
      font-size: 50px;
      font-weight: bold;
    }
    .latest-deals h2 span {
      color: #E95A08;
    }
    .latest-deals p {
      text-align: center;
      max-width: 900px;
      margin: auto;
      color: #666;
      font-size: 25px;
      margin-bottom: 50px;
    }
    .row {
      height: 600px;
      display: flex;
      gap: 20px;
      max-width: 1600px;
      margin: auto;
    }
    .row > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .deal-wrapper {
      position: relative;
      height: 100%;
      flex: 1;
      border-radius: 25px;
      overflow: hidden;
    }
    .deal-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
      display: block;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
      border-radius: 25px;
    }
    .deal-text {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .deal-link {
      color: white;
      font-size: 28px;
      font-weight: 600;
    }
    .deal-link:hover {
      background-color: orange;
      color: white;
    }


    
  .newsletter-section {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 100px;
  }
  .newsletter-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 0px;
  }
  .newsletter-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  .newsletter-content h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .input-wrapper {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
  }
  .input-wrapper input[type="email"] {
    flex: 1;
    height: 50px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
  }
  .input-wrapper button {
    width: 150px;
    border: none;
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
  }
  .input-wrapper input:focus {
    outline: none;
  }


  
  .footer-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 40px;
      padding: 40px 60px;
      margin: 50px 100px;
    }
    .footer-grid p {
      color: #555;
      line-height: 1.6;
      font-size: 20px;
    }
    .footer-column a {
      display: flex;
      text-decoration: none;
      color: #333;
      margin-bottom: 10px;
      font-weight: 500;
      line-height: 2.5;
      margin-left: 20px;
      font-size: 20px;
    }
    .footer-column a:hover {
      color: #f3701a;
    }
    .footer-social a {
      display: inline-block;

    }
    .footer-social img {
      width: 30px;
      border-radius: 5px;
    }
    .footer-social img:hover {
      transform: scale(1.1);
    }
    


  @media screen and (max-width: 576px) {
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  nav a {
    display: none;
  }
  nav a.bold:last-child {
    display: inline-flex;
    font-size: 20px;
    gap: 10px;
    font-weight: 400;
  }
  header {
    padding: 10px 20px;
    margin: 0;
  }
  header > div img {
    width: 120px;
    height: auto;
  }

  /* 2. Banner */
  .banner {
    flex-direction: column;
    margin: 20px;
    text-align: left;
  }
  .banner img {
    width: 100%;
    order: -1; 
  }
  .banner-text {
    width: 100%;
    height: auto;
    text-align: left;
  }

  /* 3. Plants section */
  .products {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
  }
  .product-card {
    width: 100%;
    margin-top: 30px;
  }

  /* 4. Plants Lover section */
  .flex {
    flex-direction: column;
    margin:50px auto;
    text-align: left;
    padding-left: 100px;
  }
  .overlay-image {
    display: none;
  }
  .image-container {
    width: 100%;
  }


  /* 5. Latest Deals */
  .row {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .row > div {
    width: 500px;
    gap: 20px;
  }
  .deal-wrapper {
    height: 400px;
  }
  
  

  /* 6. join Section */
  .newsletter-content h2 {
    font-size: 30px;
    margin-top: 110px;
  }

  .input-wrapper {
    flex-direction: row;
    width: 100%;
  }

  .input-wrapper input[type="email"] {
    width: 70%;
    height: 70px;
  }

  .input-wrapper button {
    width: 30%; 
    margin: 0;
    height: 70px;
  }

  /* 7. Footer */
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 30px 20px;
    padding: 20px;
  }
  .footer-column a {
    margin-left: 10px;
  }
  
}